[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
inflection = "*"
pydantic-ai = "*"
django = "~=5.2.6"
pipenv = "~=2025.0.4"
spacy = "~=3.8.7"
scrapy = "~=2.13.3"
virtualenv = "~=20.34.0"
django-environ = "~=0.12.0"
djangorestframework = "~=3.16.1"
django-filter = "~=25.1"
djangorestframework-jsonapi = "~=8.0.0"
django-extensions = "~=4.1"
asgiref = "==3.9.1"
dj-database-url = "==3.0.1"
psycopg2-binary = "==2.9.10"
sqlparse = "==0.5.3"
tzdata = "==2025.2"
gunicorn = "==23.0.0"
django-cors-headers = "==4.8.0"

[dev-packages]

[requires]
python_version = "3.13"
